<?xml version="1.0" encoding="utf-8"?>

<robot name="ranger_mini" xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller" xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Lidar sim -->

  <xacro:property name="M_PI" value="3.14159"/> 
  <xacro:property name="laser_min_range" value="0.1"/>
  <xacro:property name="laser_max_range" value="200.0"/>
  <xacro:property name="ros_topic" value="scan"/>
  <!-- <xacro:property name="samples" value="24000"/> -->
  <xacro:property name="samples" value="5000"/>
  <xacro:property name="downsample" value="1"/>
  
  <xacro:macro name="null_inertial">
    <!-- <inertial>
      <mass value="0.1"/>
    <inertia ixx="0.01" ixy="0" ixz="0"
          iyy="0.01" iyz="0"
          izz="0.01"/>
    </inertial> -->
    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </xacro:macro>
  
  <joint name="hokuyo_joint" type="fixed">
    <axis xyz="0 0 0" />
    <origin xyz="0.21386 -0.0094087 0.581" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="base"/>
  </joint>

  <link name="base">
      <xacro:null_inertial/>
      <visual> 
        <origin xyz="0.00 0 0.0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://ranger_mini_gazebo/description/meshes/livox_mid360/livox_mid360.dae" >
          </mesh>
        </geometry>
      </visual>

      <collision>
		    <origin xyz="0 0 0" rpy="0 0 0" /> 
        <geometry> 
          <mesh filename="package://ranger_mini_gazebo/description/meshes/livox_mid360/livox_mid360.dae" > 
		      </mesh> 
        </geometry>
      </collision>
  </link>

  <link name="base_scan">
     <xacro:null_inertial/>
  </link>

  <joint name="base_to_scan_joint" type="fixed">
      <parent link="base"/>
      <child link="base_scan"/>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.2"/>
  </joint>

  <!--xacro:macro name="Livox_Mid_gazebo_sensor" params="visualize:=True 
                  update_rate:=10 resolution:=0.002 noise_mean:=0.0 
                  noise_stddev:=0.01 name:=livox"-->

  <gazebo reference="base_scan">
      <sensor type="ray" name="laser_livox">
        <pose>0 0 0 0 0 0</pose>
        <visualize>true</visualize>
        <update_rate>40</update_rate>
        <!-- This ray plgin is only for visualization. -->
        <plugin name="gazebo_ros_laser_controller" filename="liblivox_laser_simulation.so">
        <ray>
			    <scan>
				    <horizontal>
				      <samples>100</samples>
				      <resolution>1</resolution>
				      <min_angle>${0}</min_angle>
				      <max_angle>${2*M_PI}</max_angle>
				    </horizontal>
				    <vertical>
				      <samples>360</samples>
				      <resolution>1</resolution>
				      <min_angle>${-7.22/180*M_PI}</min_angle>
				      <max_angle>${55.22/180*M_PI}</max_angle>
				    </vertical>
			    </scan>
			    <range>
				    <min>${laser_min_range}</min>
				    <max>${laser_max_range}</max>
				    <resolution>0.002</resolution>
			    </range>
			    <noise>
				    <type>gaussian</type>
				    <mean>0.0</mean>
				    <stddev>0.01</stddev>
			    </noise>
			  </ray>
        <visualize>true</visualize>
		    <samples>${samples}</samples>
		    <downsample>${downsample}</downsample>
		    <csv_file_name>package://ranger_mini_gazebo/scan_mode/mid360.csv</csv_file_name>
		    <!-- <plugin name="gazebo_ros_laser_controller" filename="liblivox_laser_simulation.so"> -->
        <ros_topic>${ros_topic}</ros_topic>
          <!-- <topicName>/scan</topicName> -->
        <!-- <frameName>base_scan</frameName> -->
        </plugin>
      </sensor>
    </gazebo>

  <!-- IMU sim -->
  <gazebo>
    <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <bodyName>base_link</bodyName>
      <topicName>/imu</topicName>
      <gaussianNoise>0.0</gaussianNoise>
      <updateRate>50.0</updateRate>
    </plugin>
  </gazebo>

  <!-- ZED2 sim -->
  <xacro:include filename="$(find ranger_mini_gazebo)/xacro/zed2.xacro"/>


</robot>
