<?xml version="1.0" encoding="utf-8"?>

<robot name="ranger_mini" xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller" xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Lidar sim -->
  <joint name="hokuyo_joint" type="fixed">
    <axis xyz="0 0 0" />
    <origin xyz="0.21386 -0.0094087 0.581" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="base_scan"/>
  </joint>

  <link name="base_scan">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://ranger_mini_gazebo/description/meshes/hokuyo/hokuyo.dae"/>
      </geometry>
    </visual>
    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>
  <gazebo reference="base_scan">
    <sensor type="ray" name="head_hokuyo_sensor">
      <pose>0 0 0 0 0 0</pose>
      <visualize>false</visualize>
      <update_rate>20</update_rate>
      <ray>
        <!-- <scan>
          <horizontal>
            <samples>1153</samples>
            <resolution>1</resolution>
            <min_angle>-3.1415927410125732</min_angle>
            <max_angle>3.1415927410125732</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.15</min>
          <max>16.0</max>
          <resolution>0.01</resolution>
        </range> -->
        <scan>
          <horizontal>
            <samples>810</samples>
            <resolution>1</resolution>
            <min_angle>-2.1</min_angle>
            <max_angle>2.1</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.10</min>
          <max>30.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
        <topicName>/scan</topicName>
        <frameName>base_scan</frameName>
      </plugin>
    </sensor>
  </gazebo>


  <!-- camera sim -->
  <!--link name="right_cam_link">
    <inertial>
      <mass value="0.1"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://ranger_mini_gazebo/description/meshes/xtion/asus_xtion_pro_camera.dae"/>
      </geometry>
    </visual>
  </link>
  <gazebo reference="right_cam_link">
    <sensor name="right_camera" type="camera">
        <camera>
          <horizontal_fov>2.09</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
        </camera>
	<pose> 0 0 0 0 0 0 </pose>
        <always_on>1</always_on>
        <update_rate>30</update_rate>
        <visualize>true</visualize>
	<plugin name='camera' filename='libgazebo_ros_camera.so'>
        <cameraName>right_camera</cameraName>
	<imageTopicName>/camera/right/image_raw</imageTopicName>
            <CxPrime>320</CxPrime>
	    <Cx>296.7347</Cx>
	    <Cy>271.07618</Cy>
	    <focalLength>481.1358</focalLength>
	    <distortionK1>-0.39282</distortionK1>
	    <distortionK2>0.14838</distortionK2>
	    <distortionK3>-0.0058</distortionK3>
	    <distortionT1>0.00101</distortionT1>
	    <distortionT2>0.00000</distortionT2>>
	</plugin> 
      </sensor>
  </gazebo>
  <joint name="base_rightcam_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.2 -0.1 1"/>
    <parent link="base_link"/>
    <child link="right_cam_link"/>
  </joint>

  <link name="left_cam_link">
    <inertial>
      <mass value="0.1"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://ranger_mini_gazebo/description/meshes/xtion/asus_xtion_pro_camera.dae"/>
      </geometry>
    </visual>
  </link>
  <gazebo reference="left_cam_link">
    <sensor name="left_camera" type="camera">
        <camera>
          <horizontal_fov>2.09</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
        </camera>
	<pose> 0 0 0 0 0 0 </pose>
        <always_on>1</always_on>
        <update_rate>30</update_rate>
        <visualize>true</visualize>
	<plugin name='camera' filename='libgazebo_ros_camera.so'>
        <cameraName>left_camera</cameraName>
	<imageTopicName>/camera/left/image_raw</imageTopicName>
            <CxPrime>320</CxPrime>
	    <Cx>296.7347</Cx>
	    <Cy>271.07618</Cy>
	    <focalLength>481.1358</focalLength>
	    <distortionK1>-0.39282</distortionK1>
	    <distortionK2>0.14838</distortionK2>
	    <distortionK3>-0.0058</distortionK3>
	    <distortionT1>0.00101</distortionT1>
	    <distortionT2>0.00000</distortionT2>>
	</plugin> 
      </sensor>
  </gazebo>
  <joint name="base_leftcam_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.2 0.1 1"/>
    <parent link="base_link"/>
    <child link="left_cam_link"/>
  </joint-->
  
  <!--link name="imu_link">
    <inertial>
      <mass value="0.0001"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
  <gazebo reference="imu_link">
    <material value="Gazebo/Grey"/>
    <sensor name='sensor_imu' type='imu'>
	<always_on>true</always_on>
	<update_rate>50.0</update_rate>
	<pose> 0 0 0 0 0 0 </pose>
	<plugin name='ros_imu' filename='libgazebo_ros_imu.so'>
          <topicName>/imu</topicName>
          <frameName>imu_link</frameName>
	</plugin> 
    </sensor>
  </gazebo-->

  <!-- IMU sim -->
  <gazebo>
    <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <bodyName>base_link</bodyName>
      <topicName>/imu</topicName>
      <gaussianNoise>0.0</gaussianNoise>
      <updateRate>50.0</updateRate>
    </plugin>
  </gazebo>

  <!-- ZED2 sim -->
  <xacro:include filename="$(find ranger_mini_gazebo)/xacro/zed2.xacro"/>


</robot>
